// .custom-card {
//     border: 2px solid #ffffff;
//     border-radius: 8px;
//     background-color: #ffffff;
//     color: white;
// }

// .custom-title {
//     background-color: #ffffff;
//     color: white;
//     padding: 12px;
//     border-radius: 4px;
// }

// .custom-text {
//     background-color: #ffffff;
//     color: #1976D2;
//     padding: 10px;
//     font-size: 16px;
// }

.custom-actions {
    background-color: #8fb113;
    color: white;
    padding: 16px;
    border-top: 1px solid #062499;
    display: flex;
    justify-content: space-between;
}
